<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GitWpfApplication.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-NT0RQNR\SQLEXPRESS01;Integrated Security=SSPI;Initial Catalog=Аудиотека"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>